
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFudmd3endveGZsbnNrd296b2p0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NDkyNzUsImV4cCI6MjA4ODQyNTI3NX0.04ZmfoXgIOfaK7pnhUpO3kwuoTP484Mu47IWifTb2-s

SUPABASE_URL=https://qnvgwzwoxflnskwozojt.supabase.co
SUPABASE_SERVICE_KEY=your_service_key_here

PORT=3000
VITE_SUPABASE_URL=https://qnvgwzwoxflnskwozojt.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_sRaqPIwjVhJbUq-9U3rMlw_eJg_wKWZ
