VITE_SUPABASE_URL=https://qnvgwzwoxflnskwozojt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFudmd3endveGZsbnNrd296b2p0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NDkyNzUsImV4cCI6MjA4ODQyNTI3NX0.04ZmfoXgIOfaK7pnhUpO3kwuoTP484Mu47IWifTb2-s

SUPABASE_URL=https://qnvgwzwoxflnskwozojt.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFudmd3endveGZsbnNrd296b2p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjg0OTI3NSwiZXhwIjoyMDg4NDI1Mjc1fQ.dOOUeFx-y0kuY9qF9LHPy4vZetux8lnXCDpgndKqEKs

PORT=3000
